/* .navbar-nav > .active > a {
    color: aqua;  
  } */

  .nav-item > a:hover {
    color: aqua;
  }

  .nav-item > a:focus{
    color: aqua;
    
  }

  .nav-item > a{
    color: black;
  }

li { cursor: pointer; }