<!-- <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'> -->


<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
  <a style="color: #3b5998 ;" href="#" target="_blank"><i class="fa fa-3x fa-facebook-f fa-lg"></i></a>
  <a style="color: #55acee;" href="#"><i class="fa fa-3x fa-twitter fa-lg"></i></a>
  <a style="color: #ac2bac;" href="#!"><i class="fa fa-3x fa-instagram fa-lg"></i></a>
  <a style="color: #dd4b39; height: 20px; width: 20px;" href="#"><i class="fa fa-3x fa-google-plus fa-lg"></i></a>

</div> -->

<!-- <div class="container mt-5">
  <div class="row custom-wrapper">
    <h2 class="mb-3 text-center">Angular Select Dropdown Examle</h2>
    <form [ngFormOptions]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="d-grid">
        <select
          class="custom-select mb-3"
          (change)="changeCity($event)"
          formControlName="cityName"
        >
          <option value="">Choose City</option>
          <option *ngFor="let city of City" [ngValue]="city">
            {{ city }}
          </option>
        </select> -->

        <!-- error block -->

        <!-- <div class="invalid-feedback" *ngIf="isSubmitted && cityName?.invalid">
          <sup>*</sup>Please provide city name
        </div>
        <button type="submit" class="btn btn-danger btn-lg btn-block">
          Submit
        </button>
      </div>
    </form>
  </div>
</div> -->