<br>
<!-- <div *ngIf="isUserAuthenticated()">
  <h2 class="text-center">
    You are logged in {{role}}
  </h2>
</div> -->


<p>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000" >
            <img src="assets\basketball.svg" class="d-block w-100" alt="..." style="height:500px; width:500px;">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets\american-football.svg" class="d-block w-100" alt="..." style="height:500px; width:500px;">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets\volleyball.svg" class="d-block w-100" alt="..." style="height:500px; width:500px;">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets\shooting.svg" class="d-block w-100" alt="..." style="height:500px; width:500px;">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets\mountain-biking.svg" class="d-block w-100" alt="..." style="height:500px; width:500px;">
          </div>
          
        </div>
    </div>
    
    <div class="container-fluid " style="height: 40vh; padding: 10%;">
     <div class="text-center" style="
     font-size: 3rem;
     text-align: center;"><h1> Welcome to Sports Event Management System</h1>
     <h4 style="padding: 4%;">An all in one solution for managing sports events</h4>
    </div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 text-center" >
          <img src="assets/schedule-management-1346945.jpg" alt="responsive webite"
            class="img-fluid" style="width: 70%;">
        </div>
    
        <div class="col-xl-6 col-lg-6 col-md-6 " style="padding: 10% 10% 0% 10%;
        font-size: 1rem;">
          <h2>Schedule Sports Events</h2>
          &nbsp;
          <p>This application will allow the organizer to timely conduct the events in a proper
            manner rather having to rely on physical pen and paper-based approach which can
            sometimes slowdown the entire event organizing process.</p>
          <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, id, aperiam pariatur tempore numquam odio accusamus molestiae, dolores iure praesentium sequi accusantium laudantium non doloremque illo ex suscipit asperiores ea!.</p> -->
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        
    
        <div class="col-xl-6 col-lg-6 col-md-6 order-1" style="padding: 10% 10% 0% 10%;
        font-size: 1rem;" >
          <h2>Analyse the Data</h2>
          &nbsp;
          <p>The Sports Event Management System will provide a central repository for analysing
            and maintaining all the upcoming sports events along with the event and players
            details.
          </p>
          <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, id, aperiam pariatur tempore numquam odio accusamus molestiae, dolores iure praesentium sequi accusantium laudantium non doloremque illo ex suscipit asperiores ea!.</p> -->
        </div>
    
        <div class="col-xl-6 col-lg-6 col-md-6 order-sm-2 text-center" >
          <img src="assets/data.svg" alt="responsive webite"
            class="img-fluid" style="width:70%;">
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 text-center" >
          <img src="assets/file-and-folder.svg" alt="responsive webite"
            class="img-fluid" style="width: 70%;">
        </div>
    
        <div class="col-xl-6 col-lg-6 col-md-6" style="padding: 10% 10% 0% 10%;
        font-size: 1rem;">
          <h2>Archive of Past Events</h2>
          &nbsp;
          <p>It will also provide its user and admin the facility to browse through the past sports
            events which happened on a specific date along with several other details such as the
            number of teams and the players which participated in that event.</p>
          <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, id, aperiam pariatur tempore numquam odio accusamus molestiae, dolores iure praesentium sequi accusantium laudantium non doloremque illo ex suscipit asperiores ea!.</p> -->
        </div>
      </div>
    </div>
    
    
    <div class="container-fluid">
      <div class="row">
        
    
        <div class="col-xl-6 col-lg-6 col-md-6 order-1" style="padding: 10% 10% 0% 10%;
        font-size: 1rem;">
          <h2>Participation Request Facility</h2>
          &nbsp;
          <p>The user can raise a request to participate in a sports event and the admin can approve
            or deny the participant request based on his own requirements and can also write
            comments in case the participation request is denied.</p>
          <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, id, aperiam pariatur tempore numquam odio accusamus molestiae, dolores iure praesentium sequi accusantium laudantium non doloremque illo ex suscipit asperiores ea!.</p> -->
        </div>
    
        <div class="col-xl-6 col-lg-6 col-md-6 order-sm-2 text-center" >
          <img src="assets/sign-up-form.svg" alt="responsive webite"
            class="img-fluid" style="width:70%;">
        </div>
      </div>
    </div>
    
    <!-- <a href="https://iconscout.com/illustrations/file-and-folder" target="_blank">File and Folder Illustration</a> by <a href="https://iconscout.com/contributors/manypixels-gallery" target="_blank">Manypixels Gallery</a> -->
    
    <!-- <div class="text-center text-lg-start">
      <div class="row">
        <div class="col">
          Column 1dhghdhgljdhghedghd;loghdlghdlhgdh
        </div>
        <div class="col">
          Column 2
        </div>
        <div class="col">
          Column 3
        </div>
      </div>
    </div> -->

   